{% extends "hc_base.html" %}
{% load humanize %}

{% block title %}Eleições Legislativas: Legislação{% endblock %}

{% block header %}
{% endblock %}

{% block pagetitle %}Legislação{% endblock %}

{% block body_content %}
  <div class="main-content text_box">

    <h2>Legislação</h2>

    <p>A legislação pertinente é:

    <ul>
      <li><a href="http://dre.tretas.org/dre/33379/" target="_blank">Lei Eleitoral da Assembleia da República - Lei n.º 14/79, de 16 de maio</a>
      <li><a href="http://www.cne.pt/sites/default/files/dl/legis_lear_2005_anotada.pdf" target="_blank">LEAR - Versão anotada e comentada (Edição 2005) por Fátima Abrantes Mendes e Jorge Miguéis</a> (pdf)
      <li><a href="http://dre.tretas.org/dre/29230/" target="_blank">Organização do processo eleitoral no estrangeiro - Decreto-Lei n.º 95-C/76, de 30 de janeiro</a>
      <li><a href="http://dre.tretas.org/dre/208904/" target="_blank">Designação dos mandatários das listas pelos círculos eleitorais de fora do território nacional - Decreto-Lei n.º 411-B/79, de 3 de outubro</a>
    </ul>

    <h2>Mapas oficiais</h2>

    <p>Os resultados das eleições são publicados em Diário da República, em "mapa oficial":</p>

    <ul>
      <li><a href="http://www.cne.pt/sites/default/files/dl/resultados_ac_1975.pdf" target="_blank">Eleições de 25 de Abril de 1975 (constituinte)</a> (pdf)
      <li><a href="http://dre.tretas.org/dre/227093/" target="_blank">Eleições de 25 de Abril de 1976 -  Mapa Oficial DD35</a>
      <ul>
        <li><a href="http://dre.tretas.org/dre/220489/" target="_blank">Rectificação DD133</a>
      </ul>
      <li><a href="http://dre.tretas.org/dre/30736/" target="_blank">Eleições de 2 de Dezembro de 1979 -  Mapa Oficial DD4/79</a>
      <li><a href="http://dre.tretas.org/dre/30907/" target="_blank">Eleições de 5 de Outubro de 1980 - Mapa Oficial DD12/80</a>
      <li><a href="http://dre.tretas.org/dre/30910/" target="_blank">Eleições de 25 de Abril de 1983 - Mapa Oficial DD15/83</a>
      <li><a href="http://dre.tretas.org/dre/30919/" target="_blank">Eleições de 6 de Outubro de 1985 - Mapa Oficial DD21</a>
      <li><a href="http://dre.tretas.org/dre/30926/" target="_blank">Eleições de 19 de Julho de 1987 - Mapa Oficial DD25/87</a>
      <li><a href="http://dre.tretas.org/dre/34983/" target="_blank">Eleições de 6 de Outubro de 1991 - Mapa Oficial DMAP-OFI2/91</a>
      <li><a href="http://dre.tretas.org/dre/69971/" target="_blank">Eleições de 1 de Outubro de 1995 - Mapa Oficial DMAP-OFI3/95</a>
      <li><a href="http://dre.tretas.org/dre/107077/" target="_blank">Eleições de 10 de Outubro de 1999 - Mapa Oficial 2-A/99</a>
      <li><a href="http://dre.tretas.org/dre/150737/" target="_blank">Eleições de 17 de Março de 2002 - Mapa Oficial 1-A/2002</a>
      <li><a href="http://dre.tretas.org/dre/182647/" target="_blank">Eleições de 20 de Fevereiro de 2005 - Mapa Oficial 1-A/2005</a>
      <li><a href="http://dre.tretas.org/dre/262155/" target="_blank">Eleições de 27 de Setembro de 2009 - Mapa Oficial 2-A/2009</a>
      <li><a href="http://dre.tretas.org/dre/283501/" target="_blank">Eleições de 6 de Junho de 2011 -  Mapa Oficial 4/2011</a>
    </ul>

    <h2>Comissão Nacional de Eleições</h2>

    <p>No site da <a href="http://www.cne.pt/" target="_blank">Comissão Nacional de Eleições</a> é mantida uma página para cada acto eleitoral com toda a informação pertinente acerca de cada acto eleitoral. Em termos de eleições legislativas temos:

    <ul>
      <li><a href="http://www.cne.pt/content/eleicoes-para-assembleia-constituinte-1975" target="_blank">Eleições de 25 de Abril de 1975 (constituinte)</a>
      <li><a href="http://www.cne.pt/content/eleicoes-para-assembleia-da-republica-1976" target="_blank">Eleições de 25 de Abril de 1976</a>
      <li><a href="http://www.cne.pt/content/eleicoes-para-assembleia-da-republica-1979" target="_blank">Eleições de 2 de Dezembro de 1979</a>
      <li><a href="http://www.cne.pt/content/eleicoes-para-assembleia-da-republica-1980" target="_blank">Eleições de 5 de Outubro de 1980</a>
      <li><a href="http://www.cne.pt/content/eleicoes-para-assembleia-da-republica-1983" target="_blank">Eleições de 25 de Abril de 1983</a>
      <li><a href="http://www.cne.pt/content/eleicoes-para-assembleia-da-republica-1985" target="_blank">Eleições de 6 de Outubro de 1985</a>
      <li><a href="http://www.cne.pt/content/eleicoes-para-assembleia-da-republica-1987" target="_blank">Eleições de 19 de Julho de 1987</a>
      <li><a href="http://www.cne.pt/content/eleicoes-para-assembleia-da-republica-1991" target="_blank">Eleições de 6 de Outubro de 1991</a>
      <li><a href="http://www.cne.pt/content/eleicoes-para-assembleia-da-republica-1995" target="_blank">Eleições de 1 de Outubro de 1995</a>
      <li><a href="http://www.cne.pt/content/eleicoes-para-assembleia-da-republica-1999" target="_blank">Eleições de 10 de Outubro de 1999</a>
      <li><a href="http://www.cne.pt/content/eleicoes-para-assembleia-da-republica-2002" target="_blank">Eleições de 17 de Março de 2002</a>
      <li><a href="http://www.cne.pt/content/eleicoes-para-assembleia-da-republica-2005" target="_blank">Eleições de 20 de Fevereiro de 2005</a>
      <li><a href="http://www.cne.pt/content/eleicoes-para-assembleia-da-republica-2009" target="_blank">Eleições de 27 de Setembro de 2009</a>
      <li><a href="http://www.cne.pt/content/eleicoes-para-assembleia-da-republica-2011" target="_blank">Eleições de 6 de Junho de 2011</a>
    </ul>

  </div> <!-- End main-content -->
{% endblock %}
