{% extends "devaluation_base.html" %}

{% block body_content %}
  <div class="main-content text_box">
    <h2>Acerca</h2>

    <p>Fazemos nesta aplicação o cálculo da desvalorização (ou valorização) da moeda
    entre dois anos distintos. O cálculo é feito usando dois métodos distintos (nas
    <a href="{% url 'devaluation_notes' %}">notas</a> desta aplicação mostra-se como).

    <h2>Aviso</h2>

    <p>Fizemos todos os esforços para ter resultados correctos em todas as
    circunstâncias, no entanto poderá haver ocasiões onde os resultados são
    menos bons. Assim todos os resultados devem ser verificados.

  </div>
{% endblock %}
