{% extends "devaluation_base.html" %}

{% block body_content %}
  <div class="main-content text_box">
    <h2>Notas</h2>

    <p>Fazemos o cálculo da desvalorização da moeda usando dois métodos
    distintos:

    <ul>
      <li>No primeiro método recorremos aos coeficientes <a href="http://dre.tretas.org/?q=%22coeficientes+de+desvaloriza%C3%A7%C3%A3o%22+tipo%3Aportaria&m=T&order=-date" target="_blank">publicados anualmente
      em Diário da República</a>. Por este método podemos calcular a desvalorização
      da moeda desde 1903 até ao presente;
      <li>No segundo método usamos os <a href="http://www.pordata.pt/Portugal/Taxa+de+Infla%C3%A7%C3%A3o+%28Taxa+de+Varia%C3%A7%C3%A3o+++%C3%8Dndice+de+Pre%C3%A7os+no+Consumidor%29-138" target="_blank">valores da taxa de inflacção</a> para fazer o cálculo.
      De momento apenas temos estes valores desde 1960 até ao presente.
    </ul>

    <h3>Desvalorização usando os coeficientes</h3>

    A tabela em vigor para 2015 é:

    <table class="value_list">
      <tr>
        <th>Ano</th><th>Coeficiente</th>
        <th>Ano</th><th>Coeficiente</th>
        <th>Ano</th><th>Coeficiente</th>
      </tr>
      <tr><th>1903</th><td>4631,11</td><th>1941</th><td>135,24</td><th>1979</th><td>11,66</td></tr>
      <tr><th>1904</th><td>4311,02</td><th>1942</th><td>116,76</td><th>1980</th><td>10,51</td></tr>
      <tr><th>1905</th><td>4311,02</td><th>1943</th><td>99,42</td><th>1981</th><td>8,60</td></tr>
      <tr><th>1906</th><td>4311,02</td><th>1944</th><td>84,40</td><th>1982</th><td>7,13</td></tr>
      <tr><th>1907</th><td>4311,02</td><th>1945</th><td>84,40</td><th>1983</th><td>5,71</td></tr>
      <tr><th>1908</th><td>4311,02</td><th>1946</th><td>84,40</td><th>1984</th><td>4,43</td></tr>
      <tr><th>1909</th><td>4311,02</td><th>1947</th><td>84,40</td><th>1985</th><td>3,71</td></tr>
      <tr><th>1910</th><td>4311,02</td><th>1948</th><td>84,40</td><th>1986</th><td>3,35</td></tr>
      <tr><th>1911</th><td>4134,75</td><th>1949</th><td>84,40</td><th>1987</th><td>3,07</td></tr>
      <tr><th>1912</th><td>4134,75</td><th>1950</th><td>84,40</td><th>1988</th><td>2,76</td></tr>
      <tr><th>1913</th><td>4134,75</td><th>1951</th><td>77,43</td><th>1989</th><td>2,49</td></tr>
      <tr><th>1914</th><td>4134,75</td><th>1952</th><td>77,43</td><th>1990</th><td>2,22</td></tr>
      <tr><th>1915</th><td>3678,66</td><th>1953</th><td>77,43</td><th>1991</th><td>1,96</td></tr>
      <tr><th>1916</th><td>3011,00</td><th>1954</th><td>77,43</td><th>1992</th><td>1,81</td></tr>
      <tr><th>1917</th><td>2403,68</td><th>1955</th><td>77,43</td><th>1993</th><td>1,68</td></tr>
      <tr><th>1918</th><td>1714,96</td><th>1956</th><td>77,43</td><th>1994</th><td>1,60</td></tr>
      <tr><th>1919</th><td>1314,32</td><th>1957</th><td>77,43</td><th>1995</th><td>1,54</td></tr>
      <tr><th>1920</th><td>868,45</td><th>1958</th><td>72,80</td><th>1996</th><td>1,50</td></tr>
      <tr><th>1921</th><td>566,63</td><th>1959</th><td>72,80</td><th>1997</th><td>1,48</td></tr>
      <tr><th>1922</th><td>419,64</td><th>1960</th><td>72,80</td><th>1998</th><td>1,43</td></tr>
      <tr><th>1923</th><td>256,81</td><th>1961</th><td>72,80</td><th>1999</th><td>1,41</td></tr>
      <tr><th>1924</th><td>216,18</td><th>1962</th><td>72,80</td><th>2000</th><td>1,38</td></tr>
      <tr><th>1925</th><td>186,33</td><th>1963</th><td>72,80</td><th>2001</th><td>1,29</td></tr>
      <tr><th>1926</th><td>186,33</td><th>1964</th><td>69,58</td><th>2002</th><td>1,24</td></tr>
      <tr><th>1927</th><td>186,33</td><th>1965</th><td>67,02</td><th>2003</th><td>1,20</td></tr>
      <tr><th>1928</th><td>186,33</td><th>1966</th><td>64,04</td><th>2004</th><td>1,18</td></tr>
      <tr><th>1929</th><td>186,33</td><th>1967</th><td>59,89</td><th>2005</th><td>1,16</td></tr>
      <tr><th>1930</th><td>186,33</td><th>1968</th><td>59,89</td><th>2006</th><td>1,12</td></tr>
      <tr><th>1931</th><td>186,33</td><th>1969</th><td>59,89</td><th>2007</th><td>1,10</td></tr>
      <tr><th>1932</th><td>186,33</td><th>1970</th><td>55,46</td><th>2008</th><td>1,07</td></tr>
      <tr><th>1933</th><td>186,33</td><th>1971</th><td>52,79</td><th>2009</th><td>1,08</td></tr>
      <tr><th>1934</th><td>186,33</td><th>1972</th><td>49,35</td><th>2010</th><td>1,07</td></tr>
      <tr><th>1935</th><td>186,33</td><th>1973</th><td>44,86</td><th>2011</th><td>1,03</td></tr>
      <tr><th>1936</th><td>186,33</td><th>1974</th><td>34,41</td><th>2012</th><td>1,00</td></tr>
      <tr><th>1937</th><td>180,95</td><th>1975</th><td>29,39</td><th>2013</th><td>1,00</td></tr>
      <tr><th>1938</th><td>180,95</td><th>1976</th><td>24,62</td><th>2014</th><td>1,00</td></tr>
      <tr><th>1939</th><td>180,95</td><th>1977</th><td>18,88</td><th>2015</th><td>1,00</td></tr>
      <tr><th>1940</th><td>152,26</td><th>1978</th><td>14,78</td><th></th><td></td></tr>
    </table>

    <p>O cálculo faz-se por aplicação directa dos valores da tabela. Assim se quisermos
    calcular o valor de 100 EUR de 1903 em 2015 basta multiplicar pelo coeficiente
    correspondente: 100 EUR de 1903 = 100*4631,11 = 463 111 EUR de 2015.

    <p>Da mesma forma, para calcular o valor de 100 EUR de 2015 no ano 2000, basta
    dividir pelo valor do coeficiente correspondente: 100 EUR de 2015 = 100/1,38 = 72,46 EUR de 2000.

    <p>Para calcular valores entre anos que não incluam o ano para o qual foi 
    feita a tabela é necessário calcular a taxa de desvalorização anual entre
    os dois anos em causa.

    <p>Seja C_i o coeficiente para um dado ano.

    <p>A taxa de desvalorização entre o ano 'i' e o seguinte será: T_i = C_i/C_i+1

    <p>A taxa de desvalorização entre o ano 'a' e o ano 'b' será (com b &gt; a): T_ab = T_a * T_a+1 * ... * T_b

    <p>Se 'b' igual a 2015, então vamos obter os valores da tabela anterior.

    <p>O valor V da moeda de um dado ano 'a' no ano 'b' vem:

    <p>Se a &lt; b: V_b = V_a * T_ab
    <p>Se a &gt; b: V_b = V_a / T_ab



  </div>
{% endblock %}
